.narrow-container {
    max-width: 960px;
}

.auth-container {
    max-width: 300px;
}

.col {
    min-width: 0;
}

.table-actions {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

tr:hover .table-actions {
  opacity: 1;
  pointer-events: auto;
  background-color: var(--bs-table-hover-bg)
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(-20px); }
  20%, 80% { opacity: 1; transform: translateX(-50%) translateY(0); }
  100% { opacity: 0; transform: translateX(-50%) translateY(-20px); }
}

.fixed-alertbox {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: auto;
  max-width: 90%;
}

.fixed-alert{
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: auto;
  animation: fadeInOut 4s ease forwards;
}

.fixed-alert-dismissable{
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: auto;
}

/* .table-actions .btn {
  background-color: var(--bs-table-hover-bg)
} */

/* .btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: rgba(var(--bs-primary-rgb), 0.5);
  --bs-btn-border-color: rgba(var(--bs-primary-rgb), 0.5);
  --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 0.7);
  --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 0.7);
  --bs-btn-active-bg: rgba(var(--bs-primary-rgb), 0.8);
  --bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 0.8);
}

.btn-success {
  --bs-btn-color: #000;
  --bs-btn-bg: rgba(var(--bs-success-rgb), 0.5);
  --bs-btn-border-color: rgba(var(--bs-success-rgb), 0.5);
  --bs-btn-hover-bg: rgba(var(--bs-success-rgb), 0.7);
  --bs-btn-hover-border-color: rgba(var(--bs-success-rgb), 0.7);
  --bs-btn-active-bg: rgba(var(--bs-success-rgb), 0.8);
  --bs-btn-active-border-color: rgba(var(--bs-success-rgb), 0.8);
}

.btn-danger {
  --bs-btn-color: #000;
  --bs-btn-bg: rgba(var(--bs-danger-rgb), 0.5);
  --bs-btn-border-color: rgba(var(--bs-danger-rgb), 0.5);
  --bs-btn-hover-bg: rgba(var(--bs-danger-rgb), 0.7);
  --bs-btn-hover-border-color: rgba(var(--bs-danger-rgb), 0.7);
  --bs-btn-active-bg: rgba(var(--bs-danger-rgb), 0.8);
  --bs-btn-active-border-color: rgba(var(--bs-danger-rgb), 0.8);
} */